<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="ISO-8859-1">
    <title>Yoko</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="">Employee Management System</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class="text-center"> Create New Task </h1>
            <div class="card-body">
                <form th:action="@{/employees/tasks}" th:object="${task}" method="POST">
                    <div class="form-group">
                        <label> Task Description </label>
                        <input
                                type="text"
                                name="description"
                                th:field="*{description}"
                                class="form-control"
                                placeholder="Enter Task Description"
                        />
                        <br>
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">
                                Submit
                            </button>
                            <br>
                            <br>
                            <a th:href="@{/employees}">Back To Employees</a>
<!--                            <a th:href="@{/employees/tasks/{id}(id=${task.getEmployeeId()})}">Back To Tasks</a>-->
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>